body{
font-family:Arial;
background:#f5f7fb;
padding:30px;
}

.container{
background:white;
padding:35px;
border-radius:12px;
max-width:1200px;
margin:auto;
}


/* Search */

.search-bar{
width:100%;
max-width:750px;
padding:18px;
border-radius:10px;
border:1px solid #ddd;
font-size:16px;
}


.analyze-btn{
margin-top:15px;
background:linear-gradient(90deg,#ff512f,#dd2476);
color:white;
padding:15px 30px;
border:none;
border-radius:10px;
font-weight:600;
cursor:pointer;
}

.analyze-btn:hover{
transform:scale(1.05);
}


/* Tabs */

.tabs{
display:flex;
gap:12px;
margin-top:25px;
flex-wrap:wrap;
}

.tab{
padding:12px 22px;
background:#e5e7eb;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:600;
}

.tab.active{
background:linear-gradient(90deg,#2563eb,#9333ea);
color:white;
}

.tab:hover{
transform:scale(1.05);
}


/* Space between tabs and content */

.tab-content{
margin-top:25px;
}


/* Cards */

.card{
background:white;
padding:22px;
margin-top:20px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}


/* Score */

.score-wrapper{
display:flex;
justify-content:center;
margin-bottom:20px;
}

.score-card{
background:white;
padding:20px 30px;
border-radius:12px;
box-shadow:0 3px 15px rgba(0,0,0,0.08);
text-align:center;
}

.score-number{
font-size:36px;
font-weight:bold;
background:linear-gradient(90deg,#2563eb,#9333ea);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.score-text{
font-size:14px;
color:#6b7280;
}


/* Table */

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

th{
text-align:left;
padding:12px;
background:#f3f4f6;
}

td{
padding:12px;
border-bottom:1px solid #eee;
word-break:break-word;
vertical-align:top;
}


/* Fix column width */

td:first-child{
width:65%;
}

td:last-child{
width:35%;
}


/* Alerts */

.alt-error{
color:red;
font-weight:600;
margin-top:10px;
}


/* Meta char */

.char-warning{
color:red;
font-weight:600;
}

.char-ok{
color:green;
font-weight:600;
}


/* Heading colors */

.h1{
color:#2563eb;
font-weight:bold;
}

.h2{
color:#9333ea;
font-weight:bold;
}

.h3{
color:#374151;
font-weight:bold;
}
